<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>BucketList | Home</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
      
    <!-- Choosen -->
    <link href="css/chosen.min.css" rel="stylesheet">
   
    <!-- Custome Styles -->  
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/wish-form.css" rel="stylesheet">
    <link href="css/allwishes.css" rel="stylesheet">

  
  </head>
  <body>
   <div class="container-fluid display-table">
       <div class="row display-table-row">
           
           <!-- Side Menu Navigation -->
           <div class="col-md-2 col-sm-1 display-table-cell valign-top hidden-xs" id="side-menu">
              <h1 class="hidden-sm hidden-xs">Bucketlist</h1> 
               <ul>
                   <li class="link">
                       <a href="#collapse-all-wishes" data-toggle="collapse" aria-controls="collapse-all-wishes">
                           <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">All Public Wishes</span>
                        
                       </a>
                       <ul class="collapse collapseable" id="collapse-all-wishes">
                           <li><a href="/">Public Wishes</a></li>
                           <li class="active"><a href="/wish_form">Create New Wish <span class="glyphicon glyphicon-plus pull-right"></span></a></li>                            
                       </ul>
                   </li>
                   <li class="link">
                       <a href="#collapse-my-wishes" data-toggle="collapse" aria-controls="collapse-my-wishes">
                           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">Manage My Wishes</span>
                           
                       </a>
                       <ul class="collapse collapseable" id="collapse-my-wishes">
                           <li><a href="/public_wishes">My Public Wishes</a></li>
                           <li><a href="/private_wishes">My Private Wishes</a></li>
                       </ul>
                   </li>
                   <li class="link settings-btn">
                       <a href="/manage_account">
                           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">Manage Account</span>
                       </a>
                   </li>
               </ul>
           </div>
           <!-- End Side Menu Navigation -->
           <!-- Main Content Area -->
           <div class="col-md-10 col-sm-11 display-table-cell valign-top">
               
               <div class="row">
                <header id="nav-header" class="clearfix">
                   <div class="col-md-5">
                       
                       <!-- Side Bar Toggle -->
                       <nav class="navbar-default pull-left">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                               <span class="sr-only">Toggle Navigation</span>                               
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                       </nav>
                       <!-- Side Bar Toggle -->
                       
                      
                    </div>
                   <div class="col-md-12">
                       <ul class="pull-right">
                           <li id="welcome" class="hidden-xs">
                               Welcome back jmwashuma@live.com
                           </li>
                          <li class="dropdown " id="menuLogin">
                            <a class="dropdown-toggle btn btn-xs btn-primary" href="#" data-toggle="dropdown"  id="navLogin">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                            <div class="dropdown-menu" style="padding:17px;">
                                <form id="formLogin" class="form"> 
                                   
                                    <input name="_csrf" id="token" type="hidden" value="ebTQ1WUN-vBIDMJeQuVOPewdteR2eYZoS4Lo">
    							    <input name="username" id="username" type="text" placeholder="Username" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Enter your username" required="">
    							    <input name="password" id="password" type="password" placeholder="Password" title="Enter your password" required=""><br>
    							    <button type="button" id="btnLogin" class="btn btn-xs btn-primary">Login</button>
    							</form>
                                <form><a href="#" title="Fast and free sign up!" id="btnNewUser" data-toggle="collapse" data-target="#formRegister">New User? Sign-up..</a></form>
                                <form id="formRegister" class="form collapse">
                                    <input name="_csrf" id="token" type="hidden" value="ebTQ1WUN-vBIDMJeQuVOPewdteR2eYZoS4Lo">
                                    <input name="email" id="inputEmail" type="email" placeholder="Email" required="">
        						    <input name="username" id="inputUsername" type="text" placeholder="Username" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Choose a username" required=""><br>
    							    <input name="password" id="inputpassword" type="password" placeholder="Password" required=""> 
                                    <input name="verify" id="inputVerify" type="password" placeholder="Password (again)" required=""><br>                                  
    							    <button type="button" id="btnRegister" class="btn btn-xs btn-primary">Sign Up</button>
    							</form>
                               
                            </div>
                        </li>
                       </ul>
                    </div>
                </header>
               </div>
               
               <div id="content">
                   <header class="clearfix">
                       <h2 class="page_title pull-left">All My Wishes</h2>
                   <a href="/wish_form" type="button" class="btn btn-xs btn-primary pull-right">Create New Wish</a>
                 
                   </header>
                   
                   
                   <div class="content-inner">
                       <!-- Search Bar -->
                       <div class="row search-row">
                           <div class="col-md-12">
                               <div class="input-group">
                                   <input type="text" class="form-control" id="search" placeholder="Search wishes">
                                   <span class="input-group-btn">
                                       <button type="button" class="btn btn-default go">Go!</button>
                                   </span>
                               </div>
                           </div>
                       </div>
                        <!-- Search Bar -->
                       
                       <div class="row wishes-row">
                           <div class="col-sm-2 col-md-1">
                               <img class="img-circle hidden-xs" src="img/img.jpg">
                           </div>
                           <div class="col-sm-10 col-md-11">
                               <div class="row">
                                   <div class="col-xs-5 col-sm-9 col-md-9">
                                       <b>John</b> posted a wish on <b> Climbing Mount Kilimanjaro</b><br>
                                       <small> Posted 2 days ago.</small>
                                   </div>
                                   <div class="col-xs-7 col-sm-3 col-md-3">
                                       <div class="clearfix">
                                           <div class="pull-right wish-status">
                                               <b class="status"> Wish Status </b>
                                               <button type="button" class="btn btn-xs btn-primary pull-right disabled">Achived</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="bs-component">
                               <div class="well well-sm wishes-well"><p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                               </div>
                                <div class="clearfix">
                                    <div class="pull-right">
                                         <button type="button" class="btn btn-xs btn-primary pull-right disabled tag-margin" role="button">
                                             <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Career</button> 
                                        <button type="button" class="btn btn-xs btn-primary pull-right disabled tag-margin" role="button">
                                             <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Education</button> 
                                     <a href="/wish_form" type="button" class="btn btn-xs btn-primary pull-right tag-margin" role="button">
                                             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</a>
                                         <a href="#" type="button" class="btn btn-danger btn-xs pull-right tag-margin" role="button">
                                             <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</a>
                                    </div>
                                   </div>
                                   </div>
                           </div>
                       </div> 
                       <hr>   
                       <div class="row wishes-row">
                           <div class="col-sm-2 col-md-1">
                               <img class="img-circle hidden-xs" src="img/img.jpg">
                           </div>
                           <div class="col-sm-10 col-md-11">
                               <div class="row">
                                   <div class="col-xs-5 col-sm-9 col-md-9">
                                       <b>John</b> posted a wish on <b> Climbing Mount Kilimanjaro</b><br>
                                       <small> Posted 2 days ago.</small>
                                   </div>
                                   <div class="col-xs-7 col-sm-3 col-md-3">
                                       <div class="clearfix">
                                           <div class="pull-right wish-status">
                                               <b class="status"> Wish Status </b>
                                               <button type="button" class="btn btn-xs btn-primary pull-right disabled">Achived</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="bs-component">
                               <div class="well well-sm wishes-well"><p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                               </div>
                                <div class="clearfix">
                                    <div class="pull-right">
                                         <button type="button" class="btn btn-xs btn-primary pull-right disabled tag-margin" role="button">
                                             <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Career</button> 
                                        <button type="button" class="btn btn-xs btn-primary pull-right disabled tag-margin" role="button">
                                             <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Education</button> 
                                        <a href="/wish_form" type="button" class="btn btn-xs btn-primary pull-right tag-margin" role="button">
                                             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</a>
                                         <a href="#" type="button" class="btn btn-danger btn-xs pull-right tag-margin" role="button">
                                             <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</a>
                                    </div>
                                   </div>
                                   </div>
                           </div>
                       </div> 
                       <hr>
                      <div class="clearfix">
                          <div class="pull-right">
                                                             
                                  <ul class="pager">
                                      <li class="previous disabled"><a href="#">← Older</a></li>
                                      <li class="next"><a href="#">Newer →</a></li>
                                  </ul>
                                 
                          </div>
                       </div>
                       
                   </div>
               </div>
               
               <!-- Footer -->               
               <div class="row">
                   <footer id="bucketlist-footer" class="clearfix">
                       <div class="pull-left"><b>Copyright </b>&copy; Bucketlist 2017</div>
                       <div class="pull-right"> Developed by John Mwashuma</div>
                   </footer>
               </div>
               <!-- Footer -->
               
           </div>
            <!-- End Main Content Area -->
       </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>      
    <!-- Chosen -->
    <script src="js/chosen.jquery.min.js"></script>
      
    <!-- Script for Implementing Taging using chosen -->
    <script type="text/javascript">
        var config = {
            '.chosen-select':{},
            '.chosen-select-deselect':{allow_single_deselect:true},
            '.chosen-select-no-single':{disable_search_threshold:10},
            '.chosen-select-no-result':{no_result_text:'Oops, nothing found!'},
            '.chosen-select-width': {width:"95%"}
        }
        
        for (var selector in config){
            $(selector).chosen(config[selector]);
        }
    </script>
  </body>
</html>